﻿@model IEnumerable<Pablo.DataTransferObjects.MedicionDTO>
@*agregar el IEnumerable para mostrar la lista de Personas!!!*@

@{
    ViewBag.Title = "Listado de Mediciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div>
            <h4>Listado de Mediciones cargadas en la Base de Datos</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        Día
                    </th>
                    <th class="text-center">
                        Estación
                    </th>
                    <th class="text-center">
                        Temperatura
                    </th>
                    <th class="text-center">
                        Humedad
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)// se cargan las filas con un for
                {
                    <tr class="text-center">
                        <td>
                            @item.dia
                        </td>
                        <td>
                            @item.estacion
                        </td>
                        <td>
                            @item.temperatura
                        </td>
                        <td>
                            @item.humedad
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


